#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Container and Header */
.profile-page-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #d6ddcef8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #9d9999;
  margin-bottom: 20px;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 45%;
  object-fit: cover;
  margin-left: 120px;
  border: 3px solid #ccc;
}

/* Profile Info */
.profile-info {
  flex-grow: 1;
}

.profile-info h2 {
  font-size: 24px;
  color: #333;
}

.profile-info p {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

/* Section Styles */
.profile-section {
  margin-bottom: 30px;
}

.profile-section h3 {
  font-size: 24px;
  color: #181616;
  margin-bottom: 15px;
  font-weight: bold;
}

.booking-list {
  list-style: none;
  padding: 0;
}

.booking-item {
  background-color: #d2d1c1;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.booking-item div {
  margin-bottom: 5px;
  color: #555;
}

.btn-edit-profile {
  background-color: #4caf50;
  border-radius: 30px;
  padding: 10px 12px;
  color: white;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.btn-paynow {
  background-color: #1959f0;
  border-radius: 30px;
  padding: 10px 12px;
  color: white;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.btn-edit-profile:hover {
  background-color: #45a049;
}

.btn-delete-account {
  border-radius: 30px;
  padding: 10px 12px;
  background-color: #f44336;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-delete-account:hover {
  background-color: #d32f2f;
}

.btn-logout{
  border-radius: 30px;
  margin-top: 10px;
  padding: 10px 40px;
  background-color: #49869e;
  color: white;
  transition: background-color 0.3s ease;
}

/* Responsive Design */
@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    align-items: center;
  }

  .profile-avatar {
    margin-bottom: 20px;
  }

  .profile-info {
    text-align: center;
  }
}
